.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  height: 300px;
  width: 250px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-bottom: 20px;
  p {
    // font-weight: bold;
    font-size: 20px;
  }

  &_btns {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: flex-start;
  }
  &_btn {
    width: 100px;
    background: white;
  }

  .is-dark {
    background-color: black;
    color: white;
  }

  &_search {
    padding: 10px 20px;
    border: 1px solid #d6e4e5;
    border-radius: 2px;
  }

  &_select {
    padding: 10px 120px 10px 0px;

    &_option {
      color: blue;
    }
  }
}
