body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}

.main {
  display: flex;
  padding: 50px;
  gap: 30px;
  // .sidebar {
  //   flex: 1;
  // }
  // .products {
  //   flex: 3;
  // }
}
